[submodule "video-stream"]
	path = video-stream
	url = https://github.com/Stepan-director/video-stream.git
[submodule "severstal-frontend"]
	path = severstal-frontend
	url = https://github.com/Stepan-director/severstal-frontend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Stepan-director/severstal-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Stepan-director/severstal-backend.git
